<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="chromedriver" value="webdriver.chrome.driver"/>
    <classes>
    <class name="com.Testing.Listeners"/>
      <class name="com.Testing.Success">
      <methods>
      <include name="SucessTest"></include>
      </methods>
      </class>
      <class name="com.Testing.Surround"/>
      <class name="com.Testing.Screenshots3"/>
      <class name="com.Testing.Mouse"/>
      <class name="com.Testing.DumbleDore"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
